<a href="/home/Multiply">Multiply Result</a> | 
<a href="/calculator/CalculateIndex">Calculator</a> | 
<a href="/home/FullNameIndex">Name Presentation</a> |
<a href="/home/FileDownload">Download file</a> |
<a href="/home/Login">Login Form</a>
<!-- <br><b>Welcome, @ViewData["username"]</b> -->