<body>
    <h1>Calculator</h1>
    <form action="/calculator/FullName" method="get">
        <label for="fname">First Name: </label>
        <input type="text" id="fname" name="fname" autocomplete="off">
        <br>
        <br>

        <label for="lname">Last Name:  </label>
        <input type="text" id="lname" name="lname" autocomplete="off">
        <br>
        <br>

        <label for="fullName">Full Name:</label>
        <label for="nameResult">@ViewBag.fullName</label>
        <br>
        <br>

        <button type="submit" id="fullName">Check Full Name</button>
        <button id="cancelBtn">Cancel</button>
    </form>
</body>