@using RestaurantManagementSystem.Models.ViewModels;﻿﻿
@model PositionViewModel
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<div class="container">
    <h1>Position Edit</h1>
    <hr />
    <form action="/position/update" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="mb-3">
            <label class="form-label">Code</label>
            <input class="form-control" type="text" name="Code" required value="@Model.Code" />
        </div>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input class="form-control" type="text" name="Name" required value="@Model.Name" />
        </div>
        <div class="mb-3">
            <label class="form-label">Basic Salary</label>
            <input class="form-control" type="text" name="BasicSalary" required value="@Model.BasicSalary" />
        </div>
        <input class="btn btn-success" type="submit" value="Update">
    </form>
</div>